.toolbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.toolbar__content {
    display: flex;
    flex-direction: row;
    height: 77pt;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.toolbar__logo {
    margin-left: 30px;
    width: 200pt;
    vertical-align: center;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.toolbar__menu-item {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24pt;
    font-family: 'primer print', Verdana;
    line-height: 77pt;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;

    &:hover {
        color: #7CABDC;
        background-color: white;
    }
}

@media (max-width: 768px) {
    .toolbar__content {
        height: 35pt;
    }

    .toolbar__logo {
        margin-left: 15px;
        width: 110px;
    }

    .toolbar__menu-item {
        font-size: 12pt;
        line-height: 35pt;
        padding-left: 10px;
        padding-right: 10px;
    }
}

// @media (max-width: 1200px) {
//     .toolbar__content {
//         height: 100px;
//     }

//     .toolbar__logo {
//         width: 250px;
//     }

//     .toolbar__menu-item {
//         font-size: 48px;
//         line-height: 100px;
//         height: 100px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
// }

// @media (max-width: 992px) {
//     .toolbar__content {
//         height: 80px;
//     }

//     .toolbar__logo {
//         width: 150px;
//     }

//     .toolbar__menu-item {
//         font-size: 40px;
//         line-height: 80px;
//         height: 80px;
//     }
// }

// @media (max-width: 768px) {
//     .toolbar__content {
//         height: 50px;
//     }

//     .toolbar__logo {
//         width: 80px;
//     }

//     .toolbar__menu-item {
//         font-size: 24px;
//         line-height: 50px;
//         height: 50px;
//         padding-left: 8px;
//         padding-right: 8px;
//     }
// }